/* --------------------------------TAG------------------------------- */
body{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    margin-top: 3rem;
    padding: 3rem;
    background-color: black;
    color: #ffffdf;
    text-align: center;
    /* position:sticky; */
    /* width: 93.3%; */
    bottom: 0px;
    left: 0%;
    right: 0%;
}
nav {
 padding: 1%; 
    height: 7em;
background-color: rgb(5, 120, 252);
}
/* --------------------------------INDEX------------------------------- */

/* --------------------------------NAV ELEMENT------------------------------- */
.li-nav a{
    padding: 0px 1.2em; 
color: azure;
text-decoration: none;



} 
.li-nav a:hover{
    color: rgb(27, 30, 33);
    transition: width 2s,transform 2s;

   
   } 
.li-nav img{
    width: auto; 
    height:4rem;
    transition: width 2s,transform 2s;

} 
.li-nav img:hover{
    width: auto; 
    /* height:4.4rem; */
    /* transform: scale(1.2); */
    transform:scale(1,1.2);
} 
.li-wrapper{
  padding-top: 1rem;
    float: right;
}
.ul-nav{
    list-style-type:none ;
    }
    .li-nav{
        display: inline;
    
    }


/* --------------------------------CONTAINER------------------------------- */
.container{
    padding: 2em;
    background-color: rgb(225, 204, 204);
    }
.layout{
    padding: 2rem;
    background-color: rgb(247, 243, 243);
    border-radius: 1em;
    padding-bottom: 6rem;
}  
/* --------------------------------CARD------------------------------- */  
.card{
    width: 20rem; 
    height:28rem;
    margin:2rem 0rem;
    /* border:1px solid grey; */
    border-radius: 1rem;
    background-color: antiquewhite;
}
.card-img,.card-des{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
    width: auto; 
    height:10rem;
    border-radius: 1rem;
    
} 

.card-des-p{
    display: block;
}
.card-btn{
    color: #ffffff;
    border: 0px;
    border-radius: 1rem;
    background-color: #0f5cec;
    padding: 0.7rem 2rem ;
   text-align: center;
}
/* --------------------------------ROW AND COL------------------------------- */  
.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
/* --------------------------------SLIDER------------------------------- */  
.sliders {
    width: 100%;
    height: 500px;
    display: flex;
    overflow-x: auto;
  }
  .all-slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
  }
  .all-slide img{
width: 100%;
height: 100%;
object-fit: cover;
  }
 
/* --------------------------------MEDIA QUERIES------------------------------- */

 @media only screen and (max-width: 600px) {
    .li-wrapper{
        padding: 0.2rem;
          float:inline-start;
      }
      .li-nav a{
        padding: 1em 0.2em; 
    color: azure;
    text-decoration: none;
    } 
    .row{
    grid-template-columns: 50px;

    }
  
  }